{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<script>
    window.onload = function () {
        let baseDeDatos = [
            {
                id: 1,
                nombre: 'Cerveza Rubia',
                precio: 1200,
                imagen: 'img/cerbeza rubia.jpeg'
            },
            {
                id: 2,
                nombre: 'Cerveza Negra',
                precio: 1000,
                imagen: 'img/cerbeza negra.jpeg'
            },
            {
                id: 3,
                nombre: 'Cerveza Azul',
                precio: 1100,
                imagen: 'img/cerveza azul.jpeg'
            },
            {
                id: 4,
                nombre: 'Cerveza Lager',
                precio: 1200,
                imagen: 'img/cerveza lager.jpeg'
            }

        ]
        let $items = document.querySelector('#items');
        let carrito = [];
        let total = 0;
        let $carrito = document.querySelector('#carrito');
        let $total = document.querySelector('#total');
        let $botonVaciar = document.querySelector('#boton-vaciar');

        function renderItems() {
            for (let info of baseDeDatos) {
                let miNodo = document.createElement('div');
                miNodo.classList.add('card', 'col-sm-4');
                let miNodoCardBody = document.createElement('div');
                miNodoCardBody.classList.add('card-body');
                let miNodoTitle = document.createElement('h5');
                miNodoTitle.classList.add('card-title');
                miNodoTitle.textContent = info['nombre'];
                let miNodoImagen = document.createElement('img');
                miNodoImagen.classList.add('img-fluid');
                miNodoImagen.setAttribute('src', info['imagen']);
                let miNodoPrecio = document.createElement('p');
                miNodoPrecio.classList.add('card-text');
                miNodoPrecio.textContent = '$' + info['precio'];
                let miNodoBoton = document.createElement('button');
                miNodoBoton.classList.add('btn', 'btn-outline-success');
                miNodoBoton.textContent = '+';
                miNodoBoton.setAttribute('marcador', info['id']);
                miNodoBoton.addEventListener('click', anyadirCarrito);
                miNodoCardBody.appendChild(miNodoImagen);
                miNodoCardBody.appendChild(miNodoTitle);
                miNodoCardBody.appendChild(miNodoPrecio);
                miNodoCardBody.appendChild(miNodoBoton);
                miNodo.appendChild(miNodoCardBody);
                $items.appendChild(miNodo);
            }
        }

        function anyadirCarrito () {
            carrito.push(this.getAttribute('marcador'))
            calcularTotal();
            renderizarCarrito();
        }

        function renderizarCarrito() {
            $carrito.textContent = '';
            let carritoSinDuplicados = [...new Set(carrito)];
            carritoSinDuplicados.forEach(function (item, indice) {
                let miItem = baseDeDatos.filter(function(itemBaseDatos) {
                    return itemBaseDatos['id'] == item;
                });
                let numeroUnidadesItem = carrito.reduce(function (total, itemId) {
                    return itemId === item ? total += 1 : total;
                }, 0);
                let miNodo = document.createElement('li');
                miNodo.classList.add('list-group-item', 'text-right', 'mx-2');
                miNodo.textContent = `${numeroUnidadesItem} x ${miItem[0]['nombre']} - $${miItem[0]['precio']}`;
                let miBoton = document.createElement('button');
                miBoton.classList.add('btn', 'btn-danger', 'mx-5');
                miBoton.textContent = 'X';
                miBoton.style.marginLeft = '1rem';
                miBoton.setAttribute('item', item);
                miBoton.addEventListener('click', borrarItemCarrito);
                miNodo.appendChild(miBoton);
                $carrito.appendChild(miNodo);
            })
        }

        function borrarItemCarrito() {
            console.log()
            let id = this.getAttribute('item');
            carrito = carrito.filter(function (carritoId) {
                return carritoId !== id;
            });
            renderizarCarrito();
            calcularTotal();
        }

        function calcularTotal() {
            total = 0;
            for (let item of carrito) {
                let miItem = baseDeDatos.filter(function(itemBaseDatos) {
                    return itemBaseDatos['id'] == item;
                });
                total = total + miItem[0]['precio'];
            }
            let totalDosDecimales = total.toFixed(2);
            $total.textContent = totalDosDecimales;
        }

        function vaciarCarrito() {
            carrito = [];
            renderizarCarrito();
            calcularTotal();
        }

        $botonVaciar.addEventListener('click', vaciarCarrito);

        renderItems();
    } 
</script>

<body>
    <p class="offset-lg-0 col-lg-12">&nbsp;</p>
    <div class="text-center">
        <img src="{% static 'app/img/banner/logo_cara.jpg' %}" class="img-fluid rounder " alt="" width="420" height="250"/>&nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    <div class="container">
        <div class="row">
            <main id="items" class="col-sm-8 row"></main>
                <aside class="col-sm-4">
                    <h2>Carrito</h2>
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                    <p class="text-right">Total: $ <span id="total"></span></p>
                    <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                </aside>
            </div>
    </div>
</body>

{% endblock %}
